@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');

#logo a {
    color: gold;
    font-size: 3em;
    font-family: 'Indie Flower', cursive;
    padding: 30px 0;
    display: inline-block;
}

.navbar {
    background-color: #fff !important;
    border-top: 1px solid gold;
}

.carousel img {
    height: 70vh;
    object-fit: cover;
}

.carousel-caption {
    background-color: rgba(0,0,0,0.4);
    bottom: 20px;
}

.title {
    color: gold;
    font-family: 'Indie Flower', cursive;
    font-size: 2em;
    padding: 50px 0 ;
    font-weight: 700;
}

.row {
    img {
        width: 100%;
    }
    h2 {
        font-size: 1em;
        padding: 5px 0 10px 0;
    }
}

.buy-right {
    padding-left: 0;

    div {
        background-color: rgb(43, 42, 42);
        color: #fff !important;
        text-align: left;
        padding: 20px 20px 0 20px;
        height: 100%;
    }


    .buy-left {
    padding-right: 0;
    }
}

// RWD
@media screen and (max-width: 767px) {
    .buy-left {
        padding-right: 15px !important;
    }
    .buy-right {
        padding-left: 15px !important;
        
        div {
            padding-bottom: 50px !important;
        }
    }
}